@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font setup */
    --font-sans: var(--font-sans), "Source Sans Pro", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-serif: var(--font-serif), "Source Serif Pro", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    font-family: var(--font-sans);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;

    @apply bg-[#fcfcfc];
    @apply text-[#222222];
  }

  /* Apply serif font to headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-serif);
  }

  /* Dark mode settings */
  :root.dark {
    color-scheme: dark;
    /* You can change theme dark color here to #131313 for example, remember to change it in theme-effect.ts too */
    @apply bg-[#222222];
    @apply text-[#fcfcfc];
  }

  a:not(.social-link, .no-after)[href*="//"]:not([href*="patrickprunty.com"]):after {
    content: "⌝";
  }

  /* Prevent transition delays */
  :root.pause-transitions * {
    transition-duration: 0ms !important;
  }

  /* Optimize font rendering */
  @supports (font-variation-settings: normal) {
    :root {
      font-family: var(--font-sans);
    }
  }

  /* Customize scrollbar for WebKit browsers */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #222222;
    border-radius: 0px;
  }
  .dark ::-webkit-scrollbar-track {
    background: #222222;
  }
  .dark ::-webkit-scrollbar-thumb {
    background-color: #ccc;
  }

  /* Customize scrollbar for Firefox */
  * {
    scrollbar-width: thin; /* Make scrollbar narrower */
  }

  /* Various rendering tweaks */
  -moz-osx-font-smoothing:grayscale
  ;
  text-rendering:optimizeLegibility
  ;
  -webkit-font-smoothing:antialiased
  ;
  -webkit-text-size-adjust: 100
  %
  ;
  -moz-tab-size:
  4
  ;
  -o-tab-size:
  4
  ;
  tab-size:
  4
  ;
  font-feature-settings:normal
  ;
  font-variation-settings:normal
  ;

  img {
    height: inherit !important;
  }

  pre {
    margin: 1rem 0 !important;
  }

  /* Apply global styles to pre and code tags */
  pre code {
    font-family: monospace;
    font-size: 14px;
    border-radius: 0.25rem;
  }

  code {
    padding: 0.25rem;
    font-family: monospace;
    border-radius: 0.25rem;
    background-color: #2f2f2f; /* Dark mode background for inline code */
  }

  :root.dark code {
    background-color: #2f2f2f; /* Dark mode background for inline code */
    border-radius: 0.25rem;
  }
}

/* Initial state for image animations */
[data-animate-image] .image-animate {
  opacity: 0;
  will-change: transform, opacity;
}

/* Animation when the image comes into view */
[data-animate-image] .image-animate.animate-once[data-animate="zoom-fade-small"] {
  animation: zoom-fade-small 0.8s ease-in forwards;
}

/* New animation when the image is clicked */
.image-click-animate {
  animation: click-animation 0.4s ease;
}

@keyframes zoom-fade-small {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes custom-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-custom-pulse {
  animation: custom-pulse 0.5s ease-in-out 2;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.97);
    opacity: 0.87;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes clickable-pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.clickable-animation {
  animation: clickable-pulse 0.8s ease-in-out;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

@keyframes zoomFadeSmall {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoom-fade-small {
  animation: zoomFadeSmall 0.5s ease-out forwards;
}

